DJANGO_ENV=development
DEBUG=True
SECRET_KEY=change-me
DATABASE_URL=postgres://zeneon:change-me@localhost:5432/rwanga
REDIS_HOST=127.0.0.1
REDIS_PORT=6378
CACHE_FRAMEWORK_ENABLED=True
ALLOWED_HOSTS=127.0.0.1,localhost,rwanga.zeneon.co.uk,.zeneon.co.uk,*.zeneon.co.uk
