Django>=5.0
asgiref
channels
channels-redis
daphne
celery
django-celery-beat
django-celery-results
redis
django-redis
djangorestframework
drf-spectacular
django-filter
dj-database-url
python-decouple
django-allauth
django-htmx
django-split-settings
psycopg2-binary
django-cors-headers
whitenoise
pytest
pytest-django
requests
Pillow
